# Copyright (c) 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

# Required for the OCI Provider
tenancy_ocid="<TENANCY_OCID>"
region="<REGION>"
compartment_ocid="<COMPARTMENT_OCID>"

# auth config file should be ~/.oci/config
auth_type="user"
config_file_profile="<PROFILE_NAME>"
